* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin-top: 20px;
}

.col {
	border: 1px solid lightgray;
	width: 90%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
}


