body {
	padding: 20px;
	font-weight: 100;
	font-family: sans-serif;
}

.boxmessage {
	height: 100px;
	width: 200px;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: lightgray;
}