* {
	padding: 0px;
	box-sizing: border-box;
	font-weight: 100;
	font-family: sans-serif;
}

#main {
	padding: 30px 400px; 
}

input {
	width: 100%;
}

#addbtn {
	background-color: green;
	color: white;
	width: 100%
	height: 25px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	margin: 10px 0;
}

#removebtn {
	background-color: red;
	color: white;
	width: 100%
	height: 25px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	margin: 10px 0;
}

#divcontent {
	padding: 15px;
	min-height: 100px;
	background-color: #ffe6e6;
}

#divinfo {
	padding: 15px;
	min-height: 100px;
	background-color:  #ffffcc;
}